<left>

    <h2 class="github-title">Github Repos</h2>

    <h3 class="github-title">Chat Application</h3>
    <a class="github-button" href="https://github.com/thebeebs" aria-label="Follow @thebeebs on GitHub">Follow @thebeebs</a>
    <a class="github-button" href="https://github.com/thebeebs/chat-application" data-icon="octicon-star" aria-label="Star thebeebs/chat-application on GitHub">Star</a>
    <a class="github-button" href="https://github.com/thebeebs/chat-application/fork" data-icon="octicon-repo-forked" aria-label="Fork thebeebs/chat-application on GitHub">Fork</a>
    
    <h5 class="copyright">&copy; 2019 Amazon Web Services, Inc. or its Affiliates. All rights reserved.<h5>

</left>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script> 
